# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# tanstack start / vite
/.output/
/.vinxi/
app.config.timestamp_*

# next.js (legacy)
/.next/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*

# typescript
*.tsbuildinfo
